html {
	margin: 20px;
}

body {
	color: #4d4d4d;
	background-color: white;
	font-family: verdana, helvetica, arial, serif;	
}

a {
    color: grey;
}

#profile {
	text-align: right;
	border: 1px solid silver;
	border-radius: 4px;
	background-color: white;
}

#menu {
	float: right;
	margin: 20px;
	margin-right: 0px;
	text-align: center;
	border: 1px solid silver;
	border-radius: 4px;
	background-color: white;
	
}

#menu a:hover {
	color: lightblue;
}