{% extends 'yourFinance/base.html' %}
{% block content %}
	<strong>Data to analyze:</strong>
	{% for stash in newestStashesGroup %}
		<div class="stash">
			{{stash.date}} {{stash.name}} {{stash.amount}}
			<br>
		</div>
	{% endfor %}
	<p>Total sum: {{totalAmount}}</p>
	<strong>{{messagePrevious}}</strong>
	{% for stash in newestPreviousGroup %}
		<div class="stash">
			{{stash.date}} {{stash.name}} {{stash.amount}}
			<br>
		</div>
	{% endfor %}
	<p>{{previousTotalStatement}}</p>
	<p>{{messageGain}}</p>
	{% for string in monthlyCostsStrings %}
	{{string}}
	<br>
	{% endfor %}
	<br>
	<strong>To check your current total costs and how much you will have after expenses</strong><br>
	<strong>write how much you will spend in each costs group and hit 'Calculate' button:</strong>
	<form method="post" action=".">
		{% csrf_token %}
		{{ formset.management_form }}
		<table>
			{% for form in formset %}
			{{ form.name}}
			<label>{{ form.name.value}}</label>
				<br>
				{{form.amount}}
				<br>
				<br>
			{% endfor %}
		</table>
		<input type="submit" value="Calculate">
	</form>
	{{afterCostsMessage}}
	<br>
	<a href="{% url 'index' %}" class="button">Back to main page</a>
{% endblock content %}
