{% extends 'yourFinance/base.html' %}
{% block content %}
<p>Welcome in yourFinance program.</p>
<p>This program helps you to manage your budget.
    It saves budget data as separate money deposition places
    for certain month and certain year. You can check detailed
    data as well as analyze certain month to see the values
    and other information.</p>
<p>What would you like to do:</p>
<ul>
	<li><a href="{% url 'add data' %}">Add new data</a></li>
	<li><a href="{% url 'view data' %}">View, edit and delete data</a></li>
	<li><a href="{% url 'delete multiple data' %}">Delete multiple data</a></li>
	<li>Analyze data:</li>
	<ul>
		<li>Analyze last month</li>
		<li>Analyze chosen month</li>
	</ul>
	<li>Configure settings:</li>
	<ul>
		<li>Configure names of money deposition places</li>
		<li>Configure monthly costs names and amounts</li>
		<li>Configure current costs groups</li>
	</ul>
	<li>Exit</li>
</ul>
{% endblock content %}