{% extends 'yourFinance/base.html' %}
{% block content %}
<h3>Welcome in yourFinance program.</h3>
<p>This program helps you to manage your budget.
    It saves budget data as separate money deposition places
    for certain date.</p> 
<p>You can check detailed
    data as well as analyze certain date range to view the values
    and other information.</p>
<br>
<strong>What would you like to do:</strong>
<ul>
	<li><a href="{% url 'add data' %}">Add new data</a></li>
	<li><a href="{% url 'view data' %}">View, edit and delete data</a></li>
	<li><a href="{% url 'delete multiple data' %}">Delete multiple data</a></li>
	<li><a href="{% url 'analyze data' %}">Analyze data</a></li>
	<li>Configure settings:</li>
	<ul>
		<li><a href="{% url 'configure deposition places' %}">Configure names of money deposition places</a></li>
		<li><a href="{% url 'configure monthly costs' %}">Configure monthly costs amounts</a></li>
		<li><a href="{% url 'configure cost groups' %}">Configure current costs groups</a></li>
	</ul>
</ul>
{% endblock content %}
