{% extends 'yourFinance/base.html' %}
{% block content %}
	<h3>Welcome in yourFinance program.</h3>
	<p>This program helps you to manage your budget.
		It saves budget data as separate money deposition places
		for certain date.</p> 
	<p>You can check detailed
		data as well as analyze certain date range to view the values
		and other information.</p>
	<br>
	<strong>Check right side menu for options.</strong>
	{% if not user.is_authenticated %}
		<br>
		<br>
		<p>Do you want to check how it works? <a href="{% url 'sample user login' %}">Click here</a>
		to log in as a sample user and try it.</p>
	{% endif %}
{% endblock content %}
