{% extends 'yourFinance/base.html' %}
{% block content %}
		<table class="viewTable">
		{% for listOfLists in stashes_groups_and_totals %}
			<tr>
			{% for listOfStashesOrTotal in listOfLists %}
				<td>
				<table class="viewTable">
				{% for element in listOfStashesOrTotal %}
					{% if element.date %}
						<div class="stash">
							<tr>
							<td>{{element.date}}</td>
							<td>{{element.name}}</td>
							<td><strong>{{element.amount}} </strong></td>
							<td><a href="{% url 'data edit' element.id %}">edit</a></td>
							<td><a href="{% url 'data delete' element.id %}">delete</a></td>
						</div>
					{% else %}
						<p>{{ element }}</p>
						<a href="{% url 'group delete' element.stashes_date %}">delete group</a>
					{% endif %}
				{% endfor %}
				</tr>
				</table>
				<br>
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
	<br>
	<a href="{% url 'index' %}" class="button">Back to main page</a>
{% endblock content %}