{% extends 'yourFinance/base.html' %}
{% block content %}
		<table>
		{% for listOfLists in stashes_groups_and_totals %}
			<tr>
			{% for listOfStashesOrTotal in listOfLists %}
				<td>
				{% for element in listOfStashesOrTotal %}
					{% if element.date %}
						<div class="stash">
							{{element.date}} {{element.name}} {{element.amount}} 
							<a href="{% url 'data edit' element.id %}">edit</a>
							<a href="{% url 'data delete' element.id %}">delete</a>
							<br>
						</div>
					{% else %}
						<p>{{ element }}</p>
					{% endif %}
				{% endfor %}
				<br>
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
	
	<button type="button"><a href="{% url 'index' %}">Back to main page.</a></button>
{% endblock content %}